body {
  background: #fff;
}

html {
  min-height: 100%;
  position: relative;
}

span {
  color: red;
  font-size: 32px;
}

.children-div {
  width: 50%;
}

.children-div:nth-child(2) {
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  width: 95%;
  height: 40vw;
  resize: none;
  border: 2px solid brown;
}

.wrapper-div {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: inline-flex;
  margin-left: 10%;
}
